# Monday.com Data Extraction

### Data Structure

In [1]:
import requests
import json
import pandas as pd

# API Key and Headers
api_key ='eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjMwNTQ0MzI4MiwiYWFpIjoxMSwidWlkIjoyODgyNTM4MiwiaWFkIjoiMjAyMy0xMi0yOVQwODozMzoxNC4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTE1MjY1MjAsInJnbiI6InVzZTEifQ.y09MV5L1iKMfyowlDKE2lhovON4WuDfI4lxcnyFq9CI'
headers = {"Authorization": api_key}
api_url = "https://api.monday.com/v2"

# Query to fetch boards and their columns
query_boards = """
{
  boards {
    id
    name
    columns {
      id
      title
      type
    }
  }
}
"""

response = requests.post(api_url, json={'query': query_boards}, headers=headers)
boards_data = response.json()['data']['boards']
boards_data

[{'id': '5893322376',
  'name': 'New Board',
  'columns': [{'id': 'name', 'title': 'Name', 'type': 'name'},
   {'id': 'person', 'title': 'Person', 'type': 'people'},
   {'id': 'status', 'title': 'Status', 'type': 'status'},
   {'id': 'date4', 'title': 'Date', 'type': 'date'}]},
 {'id': '2431678766',
  'name': 'Subitems of Deals',
  'columns': [{'id': 'name', 'title': 'Name', 'type': 'name'},
   {'id': 'person', 'title': 'Owner', 'type': 'people'},
   {'id': 'status', 'title': 'Status', 'type': 'status'},
   {'id': 'date0', 'title': 'Date', 'type': 'date'}]},
 {'id': '2431678613',
  'name': 'Referred By',
  'columns': [{'id': 'name', 'title': 'Name', 'type': 'name'},
   {'id': 'status', 'title': 'Lead Sources', 'type': 'status'},
   {'id': 'connect_boards3', 'title': 'Contacts', 'type': 'board_relation'},
   {'id': 'mirror1', 'title': 'Deals', 'type': 'mirror'},
   {'id': 'status5', 'title': 'Priority', 'type': 'status'},
   {'id': 'mirror6', 'title': 'Email', 'type': 'mirror'},
   {'id': 'text4', 'title': 'Comments', 'type': 'text'}]},
 {'id': '2431678567',
  'name': 'Contacts',
  'columns': [{'id': 'name', 'title': 'Name', 'type': 'name'},
   {'id': 'link_to___accounts9',
    'title': 'Accounts',
    'type': 'board_relation'},
   {'id': 'link_to___deals', 'title': 'Deals', 'type': 'board_relation'},
   {'id': 'title5', 'title': 'Relationship Type', 'type': 'dropdown'},
   {'id': 'status5', 'title': 'Priority', 'type': 'status'},
   {'id': 'phone', 'title': 'Phone', 'type': 'phone'},
   {'id': 'email', 'title': 'Email', 'type': 'email'},
   {'id': 'long_text4', 'title': 'Comments', 'type': 'long_text'}]},
 {'id': '2431678484',
  'name': 'Deals',
  'columns': [{'id': 'name', 'title': 'Name', 'type': 'name'},
   {'id': 'subitems', 'title': 'Tasks', 'type': 'subtasks'},
   {'id': 'person', 'title': 'Sales Rep', 'type': 'people'},
   {'id': 'connect_boards', 'title': 'Referred By', 'type': 'board_relation'},
   {'id': 'connect_boards1', 'title': 'Contacts', 'type': 'board_relation'},
   {'id': 'mirror8', 'title': 'Lead Sources', 'type': 'mirror'},
   {'id': 'connect_boards0', 'title': 'Lead Source', 'type': 'board_relation'},
   {'id': 'status', 'title': 'Stage', 'type': 'status'},
   {'id': 'status9', 'title': 'Priority', 'type': 'status'},
   {'id': 'numbers2', 'title': 'Weekly Hours', 'type': 'numbers'},
   {'id': 'numbers6', 'title': 'Hourly Rate', 'type': 'numbers'},
   {'id': 'formula9', 'title': 'Weekly Value', 'type': 'formula'},
   {'id': 'formula0', 'title': 'Annual Value', 'type': 'formula'},
   {'id': 'numbers0', 'title': 'Close Probability', 'type': 'numbers'},
   {'id': 'formula5', 'title': 'Annual Forecast Value', 'type': 'formula'},
   {'id': 'date', 'title': 'Expected Close Date', 'type': 'date'},
   {'id': 'date9', 'title': 'Close Date', 'type': 'date'},
   {'id': 'date1', 'title': 'Deal creation date', 'type': 'date'},
   {'id': 'formula', 'title': 'Deal length', 'type': 'formula'},
   {'id': 'date7', 'title': 'Follow Up Date', 'type': 'date'},
   {'id': 'text', 'title': 'Client Address', 'type': 'text'},
   {'id': 'date6', 'title': 'Client Date of Birth', 'type': 'date'},
   {'id': 'text0', 'title': 'Client City', 'type': 'text'},
   {'id': 'text9', 'title': 'Client State', 'type': 'text'},
   {'id': 'text6', 'title': 'Client Zipcode', 'type': 'text'},
   {'id': 'text2', 'title': 'Phone Number', 'type': 'text'},
   {'id': 'text8', 'title': 'PatientID', 'type': 'text'}]}]

In [2]:
query = '''
{
  boards(limit: 5) {
    name
    id
    columns {
      id
      title
      type
      settings_str
    }
  }
}
'''

data = {'query': query}

r = requests.post(url=api_url, json=data, headers=headers)
response_json = r.json()

# Relevant data for DataFrame
boards_data = response_json['data']['boards']
columns_data = []

for board in boards_data:
    board_id = board['id']
    board_name = board['name']
    for column in board['columns']:
        columns_data.append({
            'Board ID': board_id,
            'Board Name': board_name,
            'Column ID': column['id'],
            'Column Title': column['title'],
            'Column Type': column['type'],
            'Column Settings': column['settings_str']
        })

board_details = pd.DataFrame(columns_data)

board_details

,Board ID,Board Name,Column ID,Column Title,Column Type,Column Settings
0,5893322376,New Board,name,Name,name,{}
1,5893322376,New Board,person,Person,people,{}
2,5893322376,New Board,status,Status,status,"{""done_colors"":[1],""labels"":{""0"":""Postponed"",""..."
3,5893322376,New Board,date4,Date,date,{}
4,2431678766,Subitems of Deals,name,Name,name,{}
5,2431678766,Subitems of Deals,person,Owner,people,{}
6,2431678766,Subitems of Deals,status,Status,status,"{""done_colors"":[1],""hide_footer"":true,""labels""..."
7,2431678766,Subitems of Deals,date0,Date,date,{}
8,2431678613,Referred By,name,Name,name,{}
9,2431678613,Referred By,status,Lead Sources,status,"{""done_colors"":[1],""color_mapping"":{""0"":15,""1""..."
10,2431678613,Referred By,connect_boards3,Contacts,board_relation,"{""allowMultipleBoards"":true,""boardIds"":[243167..."
11,2431678613,Referred By,mirror1,Deals,mirror,"{""relation_column"":{""connect_boards3"":true},""d..."
12,2431678613,Referred By,status5,Priority,status,"{""done_colors"":[1],""color_mapping"":{""4"":6,""6"":..."
13,2431678613,Referred By,mirror6,Email,mirror,"{""relation_column"":{""connect_boards3"":true},""d..."
14,2431678613,Referred By,text4,Comments,text,{}
15,2431678567,Contacts,name,Name,name,{}
16,2431678567,Contacts,link_to___accounts9,Accounts,board_relation,"{""boardIds"":[2431678613],""boardId"":2431678613}"
17,2431678567,Contacts,link_to___deals,Deals,board_relation,"{""boardIds"":[2431678484],""boardId"":2431678484}"
18,2431678567,Contacts,title5,Relationship Type,dropdown,"{""labels"":[{""id"":1,""name"":""Daughter""},{""id"":2,..."
19,2431678567,Contacts,status5,Priority,status,"{""done_colors"":[1],""color_mapping"":{""4"":6,""6"":..."
20,2431678567,Contacts,phone,Phone,phone,{}
21,2431678567,Contacts,email,Email,email,{}
22,2431678567,Contacts,long_text4,Comments,long_text,{}
23,2431678484,Deals,name,Name,name,{}
24,2431678484,Deals,subitems,Tasks,subtasks,"{""allowMultipleItems"":true,""itemTypeName"":""col..."
25,2431678484,Deals,person,Sales Rep,people,{}
26,2431678484,Deals,connect_boards,Referred By,board_relation,"{""allowCreateReflectionColumn"":false,""boardIds..."
27,2431678484,Deals,connect_boards1,Contacts,board_relation,"{""allowCreateReflectionColumn"":false,""boardIds..."
28,2431678484,Deals,mirror8,Lead Sources,mirror,"{""relation_column"":{""connect_boards"":true},""di..."
29,2431678484,Deals,connect_boards0,Lead Source,board_relation,"{""allowCreateReflectionColumn"":false,""boardIds..."
30,2431678484,Deals,status,Stage,status,"{""done_colors"":[1],""color_mapping"":{""0"":14,""2""..."
31,2431678484,Deals,status9,Priority,status,"{""done_colors"":[1],""hide_footer"":true,""color_m..."
32,2431678484,Deals,numbers2,Weekly Hours,numbers,{}
33,2431678484,Deals,numbers6,Hourly Rate,numbers,"{""unit"":{""symbol"":""$"",""custom_unit"":"""",""direct..."
34,2431678484,Deals,formula9,Weekly Value,formula,"{""formula"":""{numbers2}*{numbers6}""}"
35,2431678484,Deals,formula0,Annual Value,formula,"{""formula"":""{formula9}*50""}"
36,2431678484,Deals,numbers0,Close Probability,numbers,"{""unit"":{""symbol"":""%"",""custom_unit"":"""",""direct..."
37,2431678484,Deals,formula5,Annual Forecast Value,formula,"{""formula"":""{formula0}*{numbers0}""}"
38,2431678484,Deals,date,Expected Close Date,date,"{""hide_footer"":false}"
39,2431678484,Deals,date9,Close Date,date,{}
40,2431678484,Deals,date1,Deal creation date,date,"{""hide_footer"":false}"
41,2431678484,Deals,formula,Deal length,formula,"{""formula"":""IF({status}=\""Won\"",CONCATENATE(DA..."
42,2431678484,Deals,date7,Follow Up Date,date,"{""hide_footer"":false}"
43,2431678484,Deals,text,Client Address,text,{}
44,2431678484,Deals,date6,Client Date of Birth,date,"{""hide_footer"":false}"
45,2431678484,Deals,text0,Client City,text,{}
46,2431678484,Deals,text9,Client State,text,{}
47,2431678484,Deals,text6,Client Zipcode,text,{}
48,2431678484,Deals,text2,Phone Number,text,{}
49,2431678484,Deals,text8,PatientID,text,{}

### Board by Board

In [3]:
# Initializing a dictionary to hold DataFrames for each board
dfs = {}
#to fetch data from all boards
for board in boards_data:
    board_id = board['id']
    board_name = board.get('name', f"Board_{board_id}")  

    query = '''
    query {
      boards(ids: %s) {
        columns {
          id
          title
        }
        items_page(limit: 20) {
          items {
            id
            name
            column_values {
              id
              text
              value
            }
          }
        }
      }
    }
    ''' % board_id

    response = requests.post(api_url, json={'query': query}, headers=headers)

    if response.status_code == 200:
        board_info = response.json()['data']['boards'][0]
        data = board_info['items_page']['items']
        columns_info = board_info['columns']

        # mapping from column ID to column title
        columns_mapping = {column['id']: column['title'] for column in columns_info}

        # Replace unique_columns with column titles instead of IDs
        unique_columns = set(columns_mapping.values())  # Using set to avoid duplicates

        # DataFrame columns with 'Item ID' and 'Item Name' always present
        df_columns = ['Item ID', 'Item Name'] + sorted(unique_columns)

        column_values_data = []

        for item in data:
            row_data = {'Item ID': item['id'], 'Item Name': item['name']}
            for column_value in item['column_values']:
                column_title = columns_mapping.get(column_value['id'], 'Unknown Column')
                # Attempt to parse 'value' as JSON and extract a meaningful display string, if 'text' is not available
                if column_value['text']:
                    row_data[column_title] = column_value['text']
                else:
                    try:
                        value_parsed = json.loads(column_value['value']) if column_value['value'] else None
                        if isinstance(value_parsed, dict) and 'text' in value_parsed:
                            row_data[column_title] = value_parsed['text']
                        else:
                            row_data[column_title] = str(value_parsed)
                    except json.JSONDecodeError:
                        row_data[column_title] = column_value['value']
            column_values_data.append(row_data)

        # DataFrame from the populated data
        df_final = pd.DataFrame(column_values_data, columns=['Item ID', 'Item Name'] + sorted(unique_columns))
        dfs[board_name] = df_final  # Storing the DataFrame in the dictionary using the board name as the key

    else:
        print(f"Failed to fetch data for board ID {board_id}: HTTP Status Code {response.status_code}")

In [4]:
dfs['Deals']

,Item ID,Item Name,Annual Forecast Value,Annual Value,Client Address,Client City,Client Date of Birth,Client State,Client Zipcode,Close Date,...,Name,PatientID,Phone Number,Priority,Referred By,Sales Rep,Stage,Tasks,Weekly Hours,Weekly Value
0,2431679009,Dorothy Mall,None,None,"123 Test St, MA, 02067",None,1978-11-10,None,02110,None,...,NaN,8813,7813301775,High,"{'changed_at': '2022-04-01T15:34:04.823Z', 'li...",Ken Accardi,Inquiry,{},60,None
1,2497616794,Anna Bon,None,None,"123 Test St, MA, 02067",None,1990-02-15,None,44000,None,...,NaN,8814,3345253666,Medium,"{'changed_at': '2022-04-01T19:18:47.387Z', 'li...",None,Inquiry,{},50,None
2,2497621949,Viktor Shmidke,None,None,"123 Test St, MA, 02067",None,1965-10-08,None,None,None,...,NaN,8815,3345253666,Medium,"{'changed_at': '2024-01-05T17:55:14.883Z', 'li...",None,Inquiry,{},55,None
3,4651022562,Sam Brown,None,None,"House 16, Street 125, Jinnah Garden",None,1979-05-30,None,None,None,...,NaN,8816,3345253666,None,"{'changed_at': '2024-01-12T16:37:14.243Z', 'li...",None,Inquiry,{},None,None
4,5847525269,Carmen Popa,None,None,None,None,1995-01-31,None,02110,None,...,NaN,8817,None,None,{},None,Inquiry,{},None,None
5,5863619357,Rana Zubair,None,None,"House 16, Street 125, Jinnah Garden",Islamabad,1996-05-18,Federal Capital,02882,None,...,NaN,8812,7813301775,None,"{'changed_at': '2024-01-19T17:55:13.833Z', 'li...",None,Assessment,{},None,None
6,5892131929,Anna Tester,None,None,None,None,None,None,None,None,...,NaN,None,None,None,"{'changed_at': '2024-01-19T17:53:55.828Z', 'li...",None,Inquiry,{},None,None
7,2431678988,Maria Green,None,None,None,None,None,None,None,None,...,NaN,None,None,High,"{'changed_at': '2022-04-01T17:19:29.046Z', 'li...",Ken Accardi,Won,{},40,None
8,2432241000,Kyle Solo,None,None,None,None,None,None,None,None,...,NaN,None,None,None,"{'changed_at': '2022-04-01T17:22:56.659Z', 'li...",Ken Accardi,Won,{},40,None
9,2485825874,Will Masulla,None,None,None,None,None,None,None,None,...,NaN,None,None,None,"{'changed_at': '2022-04-01T18:55:05.842Z', 'li...",Ken Accardi,Postponed,{},56,None
10,2431679024,Anton Zaytzev,None,None,None,None,None,None,None,2022-02-02,...,NaN,None,None,Low,"{'changed_at': '2022-04-01T18:55:12.487Z', 'li...",Ken Accardi,Postponed,{},40,None
11,2495728334,Marissa Lumber,None,None,None,None,None,None,None,None,...,NaN,None,None,None,"{'changed_at': '2022-04-01T18:55:47.301Z', 'li...",None,Postponed,{},50,None
12,2431678973,Lolita Smith,None,None,None,None,None,None,None,2022-04-01,...,NaN,None,None,High,"{'changed_at': '2022-04-01T15:34:23.661Z', 'li...",Ken Accardi,Postponed,{},55,None
13,2495719092,Kate Smith,None,None,None,None,None,None,None,None,...,NaN,None,None,None,"{'changed_at': '2022-04-01T18:56:03.507Z', 'li...",None,Lost,{},30,None

In [5]:
# To CSV
dfs['Deals'].to_csv('monday_deals.csv', index=False)

In [6]:
dfs['New Board']

,Item ID,Item Name,Date,Name,Person,Status
0,5893322473,Item 1,2024-01-18,NaN,None,Postponed
1,5893322501,Item 2,2024-01-21,NaN,None,Closed Won
2,5893322523,Item 3,2024-01-20,NaN,None,"{'index': 5, 'post_id': None, 'changed_at': '2..."
3,5893322565,Item 4,2024-01-18,NaN,None,None
4,5893322540,Item 5,2024-01-21,NaN,None,None

In [6]:
# To CSV
dfs['New Board'].to_csv('monday_new_board.csv', index=False)

In [7]:
dfs['Subitems of Deals']

Empty DataFrame
Columns: [Item ID, Item Name, Date, Name, Owner, Status]
Index: []

In [7]:
# To CSV
dfs['Subitems of Deals'].to_csv('monday_subitemsdeals.csv', index=False)

In [8]:
dfs['Referred By']

,Item ID,Item Name,Comments,Contacts,Deals,Email,Lead Sources,Name,Priority
0,2431678922,MGH,None,"{'changed_at': '2024-01-05T17:54:25.592Z', 'li...",None,None,Industry,NaN,High
1,2431678956,Maria Louis,None,"{'changed_at': '2024-01-12T16:32:42.273Z', 'li...",None,None,Governments - Veterans Administration Programs,NaN,Low
2,2496490817,Canton Jewish Services,None,"{'changed_at': '2022-04-01T18:55:52.267Z', 'li...",None,None,Healthcare Professionals - Skilled Nursing Fa...,NaN,None
3,2496994886,Veterans Hospital,None,"{'changed_at': '2022-04-01T17:22:44.918Z', 'li...",None,None,Veterans Affairs,NaN,None
4,5847497218,Sara,None,"{'changed_at': '2024-01-12T16:40:05.066Z', 'li...",None,None,None,NaN,None
5,5847609504,Carmen Org,None,{'changed_at': '2024-01-12T16:51:14.184Z'},None,None,Industry,NaN,None
6,6090899076,Joseph Zubair,None,{'linkedPulseIds': [{'linkedPulseId': 58636222...,None,None,None,NaN,None

In [8]:
# To CSV
dfs['Referred By'].to_csv('monday_referredby.csv', index=False)

In [9]:
dfs['Contacts']

,Item ID,Item Name,Accounts,Comments,Deals,Email,Name,Phone,Priority,Relationship Type
0,5847484730,Sara Moore,"{'changed_at': '2024-01-12T16:37:19.851Z', 'li...",None,"{'changed_at': '2024-01-12T16:37:49.715Z', 'li...",None,NaN,None,None,None
1,2467119845,Ariana Willson,"{'changed_at': '2022-04-01T17:11:51.690Z', 'li...",None,{},None,NaN,None,None,None
2,2431678983,Phoenix Levy,"{'changed_at': '2022-04-01T17:11:58.519Z', 'li...",None,{'linkedPulseIds': [{'linkedPulseId': 24316790...,Phoenix@email.com,NaN,13254785698,High,{'ids': []}
3,2431678968,Maria Louis,{},None,"{'changed_at': '2022-04-01T19:19:34.577Z', 'li...",Madison@email.com,NaN,18547220499,High,Sister
4,2431678992,Leilani Krause,{},None,"{'changed_at': '2022-04-01T15:53:32.702Z', 'li...",Leilani@email.com,NaN,13125632541,Medium,Daughter
5,2438011396,John Green,{},None,{'linkedPulseIds': [{'linkedPulseId': 24316789...,None,NaN,None,None,None
6,2496989486,Alla Bezos,{},None,"{'changed_at': '2022-04-01T19:17:54.369Z', 'li...",None,NaN,None,None,None
7,2496998845,Bob Candiev,{'linkedPulseIds': [{'linkedPulseId': 24969948...,None,{},None,NaN,None,None,None
8,2497629156,Anastasia Snow,{'linkedPulseIds': [{'linkedPulseId': 24316789...,None,{},None,NaN,None,None,None
9,5757361602,Ken,{},None,{},None,NaN,None,None,None
10,5847521398,Leo Test,{'linkedPulseIds': [{'linkedPulseId': 58474972...,None,"{'changed_at': '2024-01-12T16:51:19.702Z', 'li...",None,NaN,None,None,None
11,5863622226,RZ Contact,"{'changed_at': '2024-02-19T14:44:58.168Z', 'li...",sadsa\nabcdef,"{'changed_at': '2024-01-16T08:24:45.864Z', 'li...",joseph.zubair@redcoast.co,NaN,923315559583,Medium,Son

In [9]:
# To CSV
dfs['Contacts'].to_csv('monday_contacts.csv', index=False)

### Data Management

In [10]:
import pandas as pd
import numpy as np

df_deals = dfs['Deals']

df_deals['Weekly Hours'] = pd.to_numeric(df_deals['Weekly Hours'], errors='coerce').fillna(0)

average_hours_by_stage = df_deals.groupby('Stage')['Weekly Hours'].mean()

print("\nAverage Weekly Hours by Stage:\n", average_hours_by_stage)

if 'Exit Date' in df_deals.columns and 'Reason for Leaving' in df_deals.columns:
    pass

Average Weekly Hours by Stage:
 Stage
Assessment     0.00
Inquiry       27.50
Lost          30.00
Postponed     50.25
Won           40.00
Name: Weekly Hours, dtype: float64